![literals](literals.png)

# List
- It is a sequence and collection of different data types
- It is mutable (Changeable)
- A collection of data which are normally related and rather storing these data as separate                  variables, we can store them as a list. 
- Declaring a list is , Items separated by commas are enclosed within brackets [ ].

 > Denoted by    `[ ]`

In [1]:
text1 = 'A B C D E F'
print(text1)
text2 = 'ABCDEF'
print(text2)

A B C D E F
ABCDEF

In [2]:
type (text1)

str

In [3]:
type (text2)

str

In [4]:
len(text1)

11

In [5]:
len(text2)

6

# converting string to List    Method 1

In [6]:
# string to list
text1.split()

['A', 'B', 'C', 'D', 'E', 'F']

In [9]:
len(text1.split())

6

In [11]:
text2.split()

['ABCDEF']

In [10]:
len(text2.split())

1

- Tab for checking pre-defind function and methods

- Shift +Tab for checking possible parameters in a function

In [12]:
text2

'ABCDEF'

In [14]:
text2.split(sep='C',maxsplit=1)

['AB', 'DEF']

In [15]:
text3=('ABCDCDCEF')
text3

'ABCDCDCEF'

In [16]:
text3.split(sep="C",maxsplit=2)

['AB', 'D', 'DCEF']

In [18]:
text3.split(sep="C",maxsplit=3)

['AB', 'D', 'D', 'EF']

# `list`( )  # Method 2

In [19]:
text2

'ABCDEF'

In [20]:
list(text2)     #iterator

['A', 'B', 'C', 'D', 'E', 'F']

In [21]:
text1

'A B C D E F'

In [23]:
list(text1)

['A', ' ', 'B', ' ', 'C', ' ', 'D', ' ', 'E', ' ', 'F']

In [28]:
text4 = 1,2,3.3,5.9
text4

(1, 2, 3.3, 5.9)

In [29]:
list(text4)

[1, 2, 3.3, 5.9]

# Create a list using [ ]  Method 3

In [30]:
    # [ ]
my_list = ['Innomatics','Research','Lab',1,2,3,5.5,True,False]
my_list

['Innomatics', 'Research', 'Lab', 1, 2, 3, 5.5, True, False]

In [31]:
type(my_list)

list

In [32]:
len(my_list)

9

In [33]:
my_list

['Innomatics', 'Research', 'Lab', 1, 2, 3, 5.5, True, False]

# Indexing - calling from its position 
- print 1st element
- print last element
- print 1st three elements
- print last three elements
- print alternate elements starting with Innomatics
- print alternate elements starting with Research
- print my_list reverse order

In [35]:
my_list[:]    #ALL elements

['Innomatics', 'Research', 'Lab', 1, 2, 3, 5.5, True, False]

In [36]:
my_list[0:]

['Innomatics', 'Research', 'Lab', 1, 2, 3, 5.5, True, False]

In [37]:
my_list[0:3]

['Innomatics', 'Research', 'Lab']

In [38]:
my_list[:-1]

['Innomatics', 'Research', 'Lab', 1, 2, 3, 5.5, True]

In [43]:
print (my_list[6:])
print (my_list[-3:])

[5.5, True, False]
[5.5, True, False]

In [44]:
my_list[0::2]

['Innomatics', 'Lab', 2, 5.5, False]

In [45]:
my_list[0:2]

['Innomatics', 'Research']

In [46]:
my_list[1::2]

['Research', 1, 3, True]

In [47]:
my_list

['Innomatics', 'Research', 'Lab', 1, 2, 3, 5.5, True, False]

In [52]:
print (my_list[-1::-1])
my_list[::-1]

[False, True, 5.5, 3, 2, 1, 'Lab', 'Research', 'Innomatics']

[False, True, 5.5, 3, 2, 1, 'Lab', 'Research', 'Innomatics']

# List item are Chaneable

In [53]:
my_list

['Innomatics', 'Research', 'Lab', 1, 2, 3, 5.5, True, False]

In [54]:
my_list[3]='Data Science'

In [55]:
my_list

['Innomatics', 'Research', 'Lab', 'Data Science', 2, 3, 5.5, True, False]

# Methods or Built-in function

- `append() , extend() , insert(), count(), pop(), remove() , reverse(), sort()`

# - `append` : joining

# method 1 for appending
my_list.append('AI')
my_list                                 #joining the value at the end of the list

In [56]:
my_list.append('Stats','ML')
my_list

TypeError: append() takes exactly one argument (2 given)

In [57]:
my_list.append(['Stats','ML'])
my_list

['Innomatics',
 'Research',
 'Lab',
 'Data Science',
 2,
 3,
 5.5,
 True,
 False,
 ['Stats', 'ML']]

In [58]:
my_list.extend(["Nizampet","Hyderabad"])
my_list
       # extend take more than one value and prints seperately unlike append

['Innomatics',
 'Research',
 'Lab',
 'Data Science',
 2,
 3,
 5.5,
 True,
 False,
 ['Stats', 'ML'],
 'Nizampet',
 'Hyderabad']

In [59]:
# Method2 '+'
# In place of appeding we can use +
my_list = my_list + ['Telangana','India']+['AP']
my_list

['Innomatics',
 'Research',
 'Lab',
 'Data Science',
 2,
 3,
 5.5,
 True,
 False,
 ['Stats', 'ML'],
 'Nizampet',
 'Hyderabad',
 'Telangana',
 'India',
 'AP']

In [60]:
# Method2 '+'
# In place of appeding we can use +
my_list = my_list + ['Telangana','India','AP']
my_list

['Innomatics',
 'Research',
 'Lab',
 'Data Science',
 2,
 3,
 5.5,
 True,
 False,
 ['Stats', 'ML'],
 'Nizampet',
 'Hyderabad',
 'Telangana',
 'India',
 'AP',
 'Telangana',
 'India',
 'AP']

***Note: L.append() it will take only one argument or object or element*

In [61]:
my_list.insert(4,"DL")
my_list                     # ADDING

['Innomatics',
 'Research',
 'Lab',
 'Data Science',
 'DL',
 2,
 3,
 5.5,
 True,
 False,
 ['Stats', 'ML'],
 'Nizampet',
 'Hyderabad',
 'Telangana',
 'India',
 'AP',
 'Telangana',
 'India',
 'AP']

In [62]:
my_list

['Innomatics',
 'Research',
 'Lab',
 'Data Science',
 'DL',
 2,
 3,
 5.5,
 True,
 False,
 ['Stats', 'ML'],
 'Nizampet',
 'Hyderabad',
 'Telangana',
 'India',
 'AP',
 'Telangana',
 'India',
 'AP']

In [63]:
# 
my_list.count('Hyderabad')

1

In [65]:
my_list.count(['Stats','ML'])

1

In [66]:
my_list.count(['stats','ML'])

0

In [67]:
my_list.count('hyd')

0

In [68]:
my_list

['Innomatics',
 'Research',
 'Lab',
 'Data Science',
 'DL',
 2,
 3,
 5.5,
 True,
 False,
 ['Stats', 'ML'],
 'Nizampet',
 'Hyderabad',
 'Telangana',
 'India',
 'AP',
 'Telangana',
 'India',
 'AP']

In [69]:
# pop last in first out 
my_list.pop()# will remove last element

'AP'

In [70]:
my_list

['Innomatics',
 'Research',
 'Lab',
 'Data Science',
 'DL',
 2,
 3,
 5.5,
 True,
 False,
 ['Stats', 'ML'],
 'Nizampet',
 'Hyderabad',
 'Telangana',
 'India',
 'AP',
 'Telangana',
 'India']

In [71]:
my_list.pop(11)

'Nizampet'

In [74]:
my_list.count('India')

2

In [75]:
my_list

['Innomatics',
 'Research',
 'Lab',
 'Data Science',
 'DL',
 2,
 3,
 5.5,
 True,
 False,
 ['Stats', 'ML'],
 'Hyderabad',
 'Telangana',
 'India',
 'AP',
 'Telangana',
 'India']

In [76]:
my_list.remove(3)

In [77]:
my_list

['Innomatics',
 'Research',
 'Lab',
 'Data Science',
 'DL',
 2,
 5.5,
 True,
 False,
 ['Stats', 'ML'],
 'Hyderabad',
 'Telangana',
 'India',
 'AP',
 'Telangana',
 'India']

In [91]:
my_list=my_list.reverse()
print (my_list)

None

In [92]:
my_list.sort() # only when data is in String values

AttributeError: 'NoneType' object has no attribute 'sort'

In [80]:
my_list[7]

False

In [81]:
my_list.insert(3,my_list.pop(7))
my_list

['India',
 'Telangana',
 'AP',
 False,
 'India',
 'Telangana',
 'Hyderabad',
 ['Stats', 'ML'],
 True,
 5.5,
 2,
 'DL',
 'Data Science',
 'Lab',
 'Research',
 'Innomatics']

In [82]:
my_list.insert(5,my_list.pop())
my_list.pop()
print(my_list)

['India', 'Telangana', 'AP', False, 'India', 'Innomatics', 'Telangana', 'Hyderabad', ['Stats', 'ML'], True, 5.5, 2, 'DL', 'Data Science', 'Lab']